*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
@media (min-width: 897px) {
  body {
    background-color: hsl(235, 18%, 26%);
  }
}

button,
input {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.main.valid-email .subscribe {
  display: none;
  visibility: hidden;
}
.main.valid-email .message {
  display: block;
  visibility: visible;
}

.main .message {
  display: none;
  visibility: hidden;
}

.subscribe-img img {
  width: 100%;
}
.subscribe-title {
  color: hsl(234, 29%, 20%);
  font-size: 2.25rem;
  margin-bottom: 1rem;
}
.subscribe-text {
  color: hsl(235, 18%, 26%);
  margin-bottom: 2rem;
}
.subscribe ul {
  margin-bottom: 2rem;
}
.subscribe li {
  margin-bottom: 1rem;
  color: hsl(235, 18%, 26%);
  list-style: none;
  display: flex;
  align-items: start;
}
.subscribe li img {
  margin-right: 0.5rem;
}
.subscribe-form {
  padding: 1.5rem;
  color: hsl(234, 29%, 20%);
}
.subscribe-form .email-feedback {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.subscribe-form .error-msg {
  display: none;
  color: hsl(4, 100%, 67%);
}
.subscribe-form input,
.subscribe-form button {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
}
.subscribe-form input {
  margin-bottom: 1rem;
  padding: 0 1rem;
  border: solid 1px hsl(231, 7%, 60%);
  color: hsl(235, 18%, 26%);
}
.subscribe-form button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(234, 29%, 20%);
}
.subscribe-form form.not-valid .error-msg {
  display: block;
}
.subscribe-form form.not-valid input {
  border-color: hsl(4, 100%, 67%);
  color: hsl(4, 100%, 67%);
  background-color: hsla(4, 100%, 67%, 0.2);
}

@media (min-width: 897px) {
  .subscribe {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    padding: 1.5rem;
    border-radius: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .subscribe-title {
    font-size: 3rem;
  }
  .subscribe li img {
    margin-right: 1rem;
  }
  .subscribe-form {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
  }
  .subscribe-img {
    grid-column: 2/-1;
    grid-row: 1/2;
  }
  .subscribe input,
  .subscribe button {
    font-size: 1rem;
    height: 3.25rem;
  }
  .subscribe input:focus {
    outline: none;
    border-color: hsl(235, 18%, 26%);
  }
  .subscribe button:hover {
    background: linear-gradient(to right, hsl(347, 99%, 66%), hsl(13, 99%, 62%));
    cursor: pointer;
  }
}
.message {
  padding: 0 1.5rem;
  padding-top: 10rem;
}
.message img {
  margin-bottom: 1.5rem;
}
.message-title {
  font-size: 2.75rem;
  line-height: 1;
  color: hsl(234, 29%, 20%);
  margin-bottom: 1.5rem;
}
.message-text {
  color: hsl(235, 18%, 26%);
}
.message-text span {
  color: hsl(234, 29%, 20%);
}
.message .btn {
  background-color: hsl(234, 29%, 20%);
  height: 3rem;
  text-align: center;
  border: none;
  color: hsl(0, 0%, 100%);
  font-size: 0.9rem;
  border-radius: 6px;
  position: absolute;
  display: block;
  bottom: 2rem;
  left: 1.5rem;
  right: 1.5rem;
}

/*# sourceMappingURL=styles.css.map */
