$tomato: hsl(4, 100%, 67%);
$tomato-opacity: hsla(4, 100%, 67%, 0.2);
$orange: hsl(13, 99%, 62%);
$pink: hsl(347, 99%, 66%);
$dark-grey: hsl(234, 29%, 20%);
$charcoal: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$lg-screen: 897px;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;

	@media (min-width: $lg-screen) {
		background-color: $charcoal;
	}
}

button,
input {
	font-family: inherit;
}

img {
	display: block;
	max-width: 100%;
}
