.main.valid-email {
	.subscribe {
		display: none;
		visibility: hidden;
	}

	.message {
		display: block;
		visibility: visible;
	}
}

@media (max-width: $lg-screen) and (orientation: landscape) {
	.main.valid-email {
		.message {
			display: flex;
		}
	}
}

.main {
	.message {
		display: none;
		visibility: hidden;
	}
}
